$base-color: #57E8A2;
$font-size-large: 45px;
$font-size-medium: 23px;
$font-size-small: 16px;



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        margin-top: 47.5px;
        padding-right: 98.5px;

        div {
            width: 120px;

            a {
                text-decoration: none;
                color: $base-color;
                font-size: $font-size-medium;
                font-weight: 400;
                transition: all 150ms ease-in-out;

                &:hover {
                    font-weight: 600;
                }
            }
        }
    }
}


.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 69px;
    background-color: aqua;
}

.to-the-top_wrapper {
    position: sticky;
    left: 100px;
    top: 200svh;
}


@media(max-width:1300px) {
    header {
        ul {
            gap: 30px;
        }
    }
}


@media(max-width:1200px) {
    header {
        ul {
            padding-right: 50px;
        }
    }
}

@media(max-width:1000px){
    .header-pc{
        display: none;
    }
}