<header class="header-pc">
    <div class="header-logo" #logo *ngIf="getLocation() == '/'; else greenLogo"> <img (click)="goToMain()"
            src="../../assets/icons/logo_white.png">
    </div>

    <ng-template  #greenLogo><img class="header-logo-green" (click)="goToMain()"
            src="../../assets/icons/logo.png"></ng-template>
    <ul>
        <div>
            <a (click)="goToAboutMe()">About me</a>
        </div>
        <div>
            <a (click)="goToSkillsSet()">Skills set</a>
        </div>
        <div>
            <a (click)="goToProjectsBoard()">My work</a>
        </div>
    </ul>
    <app-header-mobil class="header-mobil"></app-header-mobil>
</header>