$base-color: #57E8A2;
$bg-gradient: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 51.56%, #33B476 100%);
$main-font-family : "Montserrat",
sans-serif;
$second-font-family : 'Baloo 2';

.footer_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    background: $bg-gradient;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;

}

.footer_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


.footer-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 175px;

    span {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;

        img {
            width: 100%;
            object-fit: contain;
        }

    }
}


.footer_center {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: $main-font-family;
    gap: 50px;
    transform: translateY(40px);
    height: 50px;
    white-space: nowrap;
}


.footer_center-top {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
}


.footer_center {
    gap: 20px;
    margin-bottom: 50px;
}


.footer_center-bottom {
    display: flex;
    font-size: 24px;
    gap: 30px;

    div {
        width: 200px;
        display: flex;
        justify-content: center;
    }

    a {
        text-decoration: none;
        color: white;
        font-family: $main-font-family;
        border-bottom: 2px solid transparent;

        &:hover,
        &:focus {
            font-weight: 500;
            border-bottom: 2px solid white;
            cursor: pointer;
        }
    }
}

.footer_logo-platforms {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    gap: 42px;
    width: 175px;

    a {
        &:hover {
            scale: 1.2;
            cursor: pointer;
        }
    }
}


@media(max-width:1300px) {
    .footer_logo-platforms {
        flex-direction: column;
        align-items: end;
        gap: 30px
    }


    .footer_bottom {
        transform: translateY(-50px);
    }
}

@media(max-width:1000px) {
    .footer_wrapper {
        height: auto;
        padding-block: 50px;
        flex-direction: column;
    }


    .footer_top {
        flex-direction: column;
        padding: unset;
    }

    .footer-logo {
        width: unset;
        margin: unset;
    }

    .footer_logo-platforms {
        margin-right: unset;
        flex-direction: row;
        align-items: center;
        width: unset;
    }


    .footer_bottom {
        padding-top: 30px;
        transform: unset;
    }
}


@media(max-width:500px) {
    .footer_center-bottom {
        flex-direction: column;
    }
}


@media(max-width:450px) {
    .footer_wrapper {
        padding-block: 30px;
    }


    .footer-logo {
        span {
            height: 35px;
        }
    }


    .footer_top {
        padding-inline: 30px;
    }


    .footer_center-top {
        span {
            font-size: 1.3rem;
            white-space: break-spaces;
            text-align: center;
        }
    }


    .footer_center-bottom {
        gap: 10px;

        a {
            font-size: 1rem;
        }
    }


    .copyright {
        align-self: center;
        font-size: 18px
    }
}