<div class="footer_wrapper">
    <div class="footer-logo"> LOGO </div>
    <div class="footer_center">
        <div class="footer_center-top">
            <mat-icon>copyright</mat-icon>
            <span> Corneliu Zediu {{date}} </span>
        </div>
        <div class="footer_center-bottom">
            <a href=""> Impressum</a>
        </div>
    </div>
    <div class=" footer_logo-platforms">
        <a href="https://github.com/corneliuzediu" target="_blank"><img
                src="../../assets/icons/github_logo_white.png"></a>
        <a (click)="goToContact()"><img src="../../assets/icons/email_logo_white.png"></a>
        <a href="http://www.linkedin.com/in/corneliuzediu" target="_blank"><img
                src="../../assets/icons/linkedin_logo_white.png"></a>
    </div>
</div>