<div class="about-me_wrapper" id="about-me">
    <div class="about-me_circle"></div>
    <div class="about-me_left">Let's work together</div>
    <div class="about-me_right">
        <div class="about-me_text"> I am a frond-end developer based in Stuttgart, Germany. I enjoy helping designers
            and companies bring their ideas into real life. I am exited for my forward career development with a job in
            a junior web developer position.<br><br> If you think I'd be a good match for your projects, contact me!
        </div>
        <div class="about-me_button-container">
            <button (click)="goToContact()"> Send a message </button>
        </div>
    </div>
</div>