$base-color: #57E8A2;
$bg-gradient: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 51.56%, #33B476 100%);
$main-font-family : 'Monserrat';
$second-font-family : 'Baloo 2';

.about-me_wrapper {
    position: relative;
    background-color: white;
    height: 630px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px
}


.about-me_left {
    display: flex;
    font-size: 121px;
    font-family: $second-font-family;
    color: $base-color;
    font-weight: 800;
    width: 50%;
    margin-left: 100px;
    line-height: 100%;
}


.about-me_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 96px;
    font-size: 23px;
    padding-top: 100px;

}

.about-me_button-container {
    height: 50px;
    // width: 200px;

    button {
        position: relative;
        z-index: 1;
        background: unset;
        border: 2px solid $base-color;
        border-radius: 10px;
        padding: 15px 30px;
        color: $base-color;
        transition: all 150ms ease-in-out;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $bg-gradient;
            z-index: -1;

            transform: scaleX(0);
            transform-origin: left;
            transition: transform 300ms ease-in-out;

        }

        &:hover,
        &:focus {
            border: unset;
            outline: unset;
            transform: scaleX(1.1);
            color: white;
        }

        &:hover::before,
        &:focus::before {
            border-radius: 8px;
            transform: scaleX(1);
            // filter: brightness(1.4);
            // animation: sendMessage;
        }
    }
}


.about-me_circle {
    position: absolute;
    top: 82px;
    left: 75%;
    width: 82px;
    height: 82px;
    border-radius: 100%;
    background: $bg-gradient;
}


.about-me_text {
    font-size: 23px;
    text-align: justify;
    padding-bottom: 40px;
}