$base-color: #57E8A2;
$bg-gradient: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 51.56%, #33B476 100%);
$main-font-family : 'Monserrat';
$second-font-family : 'Baloo 2';

.about-me_wrapper {
    background-color: white;
    height: 630px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px
}


.about-me_left {
    display: flex;
    text-align: center;
    font-size: 121px;
    font-family: $second-font-family;
    color: $base-color;
    font-weight: 800;
    width: 50%;
}


.about-me_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 96px;


    button {
        margin-top: 13px;
        background: unset;
        border: 2px solid $base-color;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        // font-family: $main-font-family;
        color: $base-color;

        &:hover {
            transform: translate(-50%) scaleX(1.1);
            background: $bg-gradient;
            color: white;
            // animation: sendMessage;
        }
    }
}


.about-me_circle {
    transform: translate(0%, -100%);
    width: 82px;
    height: 82px;
    border-radius: 100%;
    background: $bg-gradient;
}


.about-me_text {
    font-size: 23px;
    text-align: justify;
}