<div class="about-me_wrapper" id="about-me">
    <div class="about-me_circle"></div>
    <div class="about-me_left">Let's work together</div>
    <div class="about-me_right">
        <div class="about-me_text"> Hey, nice to meet you!
            <br><br>
            I am Corneliu Zediu, a frontend developer schooled by <a href="https://developerakademie.com/"
                target="_blank">Developer Akademie</a>, in Stuttgart, Germany.<br><br>
            With lot of excitement, I'm looking forward to diversify and broaden my development career with a job as a
            junior web developer position.
            <br><br>
            If you think I would be a good match for your projects, contact me!
        </div>
        <div class="about-me_button-container">
            <button (click)="goToContact()"> Send me a message </button>
        </div>
    </div>
</div>