<div class="about-me_wrapper" id="about-me">
    <div class="about-me_circle"></div>
    <div class="about-me_left" translate>Let's work together</div>
    <div class="about-me_right">
        <div class="about-me_text" translate> Hey, nice to meet you!
            <br><br>
            I am Corneliu, a German-speaking Frontend Developer with experience in building web apps with JavaScript &
            Angular.
            I started my IT journey with an Entry-Level Python Certificate at home and then decided to get professional
            training and build top class projects. Due to structured work, analytical thinking and problem solving, I
            have written projects alone or in teams, based on clean code principles. You're welcome to visit my public
            portfolio.
            <br><br>
            I am looking forward to building on my experience and starting my career in IT in a junior developer
            position.
        </div>
        <div class="about-me_button-container">
            <button (click)="goToContact()" translate> Send me a message </button>
        </div>
    </div>
</div>