$base-color: #57E8A2;
$bg-gradient: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 51.56%, #33B476 100%);
$main-font-family : 'Monserrat';
$second-font-family : 'Baloo 2';

.contact_wrapper {
    min-height: 200px;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #D7FFEC 91.39%);
}