$base-color: rgb(87, 232, 162);
$bg-gradient: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 51.56%, #33B476 100%);
$main-font-family : "Montserrat",
sans-serif;
$second-font-family : 'Baloo 2';
$width-title: auto;

.contact_wrapper {
    position: relative;
    display: flex;
    margin-top: 100px;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #D7FFEC 91.39%);
    padding-bottom: 150px;
}


.contact_left {
    position: relative;
    margin-left: 100px;
    padding-right: 150px;


    h2 {
        color: $base-color;
        font-family: $second-font-family;
        font-size: 90px;
        font-weight: 800;
        margin: unset;
        line-height: 100%;
        margin-bottom: 50px;
    }

    h3 {
        color: $base-color;
        font-size: 32px;
        margin-top: unset;
    }

    h4 {
        color: $base-color;
        font-weight: 400;
        font-size: 21px;
        margin: unset;
    }


    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
}


.contact_left-q2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    line-height: 100%;
}


.contact_right {
    align-self: flex-start;
    min-width: calc(50% - 100px);
    margin-right: 100px;

    form {
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;

        input,
        textarea {
            padding: 15px 25px;
            border: 1px solid $base-color;
            border-radius: 10px;
            background: white;
            outline: none;
            width: 100%;

            &::placeholder {
                font-size: 19px;
                font-weight: 500;
            }


            &:focus,
            &:hover {
                box-shadow: inset 0px 0px 1px 1px $base-color;
            }
        }


        textarea {
            min-height: 200px;
            font-size: 19px;

            &::-webkit-resizer {
                background: url('../../assets/icons/resizer.png');
                padding: 50px;
                color: $base-color;
                background-repeat: no-repeat;
                background-position-x: -1px;
                background-position-y: -1px;
            }

            &::placeholder {
                font-size: 21px;
                font-weight: 500;
            }
        }


        button {
            width: min-content;
            white-space: nowrap;
            padding: 15px 25px;
            font-size: 24px;
            color: $base-color;
            background-color: transparent;
            border-radius: 10px;
            border: 1px solid $base-color;
            transition: all 250ms ease-in-out;
            transform-origin: top;

            &:focus,
            &:hover {
                color: white;
                background: $bg-gradient;
                scale: 1.1;
            }
        }

    }
}

.to-the-top_wrapper {
    position: absolute;
    bottom: 50px;
    left: 150px;

    button {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        background: $bg-gradient;
        transition: border 2500ms ease-in-out;

        mat-icon {
            color: white;
        }

        &:hover,
        &:focus {
            background: white;
            border: 1px solid red;

            mat-icon {
                color: red;
            }
        }
    }
}

.contact-circle-1 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(100%, -50%) rotate(82deg);
    width: 180px;
    height: 180px;
    background: $bg-gradient;
    border-radius: 100%;
}


.contact-circle-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-80%, -150%);
    width: 210px;
    height: 210px;
    background: $bg-gradient;
    border-radius: 100%;
}


.contact-circle-3 {
    position: absolute;
    bottom: -20px;
    left: 90%;
    transform: translate(-100%, -100%);
    width: 80px;
    height: 80px;
    background: $bg-gradient;
    border-radius: 100%;
}


@media(max-width:1300px) {

    .contact_left {
        padding-right: 90px;
    }

    .contact_right {
        form {
            width: 100%
        }
    }

    .contact-circle-1 {
        top: 40px;
    }


    .contact-circle-2 {
        top: 115%;
    }
}


@media(max-width:1000px) {
    .contact_wrapper {
        flex-direction: column;
        // width: 100svw;
    }


    .contact_right {
        min-width: unset;
        margin-inline: 125px;
        align-self: unset;

        form {
            margin-top: 70px;
            width: 100%;

            input,
            textarea {
                z-index: 3;

            }
        }
    }


    .contact-circle-2 {
        top: 350%;
        left: 22%;
    }
}


@media(max-width:800px) {
    .contact_wrapper {
        overflow: hidden;
        margin-top: 70px;
        padding-bottom: 70px;
    }

    .contact_left,
    .contact_right {
        margin-inline: 50px;

        form {
            margin-top: 40px;

            input,
            textarea {
                width: -webkit-fill-available;
            }
        }
    }

    .contact-circle-1 {
        top: 90px;
        right: -80px;
    }

    .contact-circle-2 {
        top: 330%;
    }
}


@media(max-width:600px) {
    .contact_left {
        padding-right: 0px;
    }


    .contact-circle-2 {
        top: 800px;
    }


    .to-the-top_wrapper {
        left: 50px;
    }
}


@media(max-width:500px) {
    .contact_left {
        h2 {
            font-size: 68px;
            margin-bottom: 20px;
        }


    }
}


@media(max-width:450px) {
    .contact_wrapper {
        margin-top: 30px;
    }

    .contact_left {
        margin-inline: 30px;

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.5rem;
        }
    }


    .contact_right {
        margin-inline: 30px;
    }


    .contact-circle-3 {
        transform: translate(-50%, -180%);
        bottom: 0px;
    }


    .to-the-top_wrapper{
        left: 30px;
    }
}


@media(max-width:350px){
    .contact_left{
        h2{
            font-size: 2.5rem;
        }
    }


    .to-the-top_wrapper{
        bottom: 20px;
    }
}