<div class="contact_wrapper">
    <div class="contact-circle-1"></div>
    <div class="contact-circle-3"></div>
    <div class="contact_left">
        <h2 id="contact">Contact</h2>
        <h3>Got a problem to solve?</h3>
        <p> Contact me through this form. I am interested in hearing from you, knowing your ideas and contributing to your
            projects with my work.</p>
        <div class="contact_left-q2">
            <h4> Need a Frontend developer?</h4>
            <h4><b>Contact me!</b></h4>
        </div>
        <div class="contact-circle-2"></div>
    </div>
    <div class="contact_right">
        <form (submit)="sendMail()" #myForm ngNativeValidate>
            <input type="text" minlength="3" placeholder="Your name" name="name" #nameContact required>
            <input type="email" minlength="6" placeholder="Your email" name="email" #emailContact required>
            <textarea type="text" placeholder="Your message" name="message" #messageContact required></textarea>
            <button #sentButton>Say hello ;&#41;</button>
        </form>
    </div>
    <div class="contact_animations">
        <div #sendingAnimation class="d-none contact_waiting-animation">
            <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode"></mat-progress-spinner>
        </div>
        <div #succesfullySubmited class="contact_succes-submit d-none">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Form succesfully submited</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Thank you for your contact.</p>
                </mat-card-content>
                <div #flyIcon class="contact_send-icon">
                    <mat-icon>send</mat-icon>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="to-the-top_wrapper">
        <button mat-icon-button (click)="goToTheTop()">
            <mat-icon>arrow_upward</mat-icon>
        </button>
    </div>
</div>