<div class="projects-board_wrapper" id="projects-board">
    <div class="projects-board_title-wrapper">
        <div class="projects-board_title">
            <div class="projects-board_circle-1"></div>
            <h2>My work</h2>
            <p> This page is a sample of my work - please feel free to try them out.</p>
        </div>
        <div class="projects-board_circle-2"></div>
    </div>
    <!-- First Project -->
    <div class="project_wrapper">
        <div class="project-img-holder-left"><img src="../../assets/img/pokedex.jpg"></div>
        <div class="project-info white-text">
            <h2>Pokedex</h2>
            <h3>Javascript | HTML | CSS | Api</h3>
            <p>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</p>
            <div class="project-buttons white-text white-button">
                <button onclick="window.open('https://github.com/corneliuzediu/Pokedex.git', '_blank')">Github</button>
                <button
                    onclick="window.open('https://corneliu-zediu.developerakademie.net/Pokedex/index.html','_blank')">Live
                    test</button>
            </div>
        </div>
        <div class="projects-board_circle-3"></div>
    </div>
    <!-- Second Project -->
    <div class="project_wrapper project_wrapper-right">
        <div class="project-info project-info-left">
            <h2>JOIN</h2>
            <h3>Javascript | HTML | CSS | Api</h3>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop funtions, asign
                users and categories.</p>
            <div class="project-buttons">
                <button onclick="window.open('https://github.com/corneliuzediu/Join.git', '_blank')">Github</button>
                <button
                    onclick="window.open('https://corneliu-zediu.developerakademie.net/Join-%20CZ/index.html','_blank')">Live
                    test</button>
            </div>
        </div>
        <div class="project-img-holder-right"><img src="../../assets/img/join.jpg"></div>
        <div class="projects-board_circle-4"></div>
    </div>
    <!-- Third Project -->
    <div class="project_wrapper">
        <div class="project-img-holder-left">
            <div class="projects-board_circle-5"></div>
            <img src="../../assets/img/el_pollo_loco.png">
        </div>
        <div class="project-info">
            <h2>El Pollo Loco</h2>
            <h3>Javascript | HTML | CSS </h3>
            <p>Jump, run and throw game based on object-oriented approch. Help Pepe to find coins and tabasco salsa to
                fight agains the crazy Boss.</p>
            <div class="project-buttons">
                <button
                    onclick="window.open('https://github.com/corneliuzediu/El-Pollo-Locco.git', '_blank')">Github</button>
                <button
                    onclick="window.open('https://corneliu-zediu.developerakademie.net/El%20Pollo%20Locco/index.html','_blank')">Live
                    test</button>
            </div>
        </div>
        <div class="projects-board_circle-6"></div>
        <div class="projects-board_circle-6-2"></div>

    </div>
    <!-- Forth Project -->
    <div class="project_wrapper project_wrapper-right">
        <div class="project-info project-info-left">
            <h2>Ring of fire</h2>
            <h3>Angular | Typescript | HTML | CSS | Firebase</h3>
            <p>Inspired by the card game "Ring of fire", the application provides a great platform to play the game with
                friends located away from you. Just insert the name, select your icon character and pull the card. <br>
                <b>Always serve alcohol with moderation!</b>
            </p>
            <div class="project-buttons">
                <button
                    onclick="window.open('https://github.com/corneliuzediu/Ring-of-Fire.git', '_blank')">Github</button>
                <button onclick="window.open('https://ring-of-fire-16293.web.app/','_blank')">Live
                    test</button>
            </div>
        </div>
        <div class="project-img-holder-right">
            <img src="../../assets/img/ring_of_fire.jpg">
            <div class="projects-board_circle-7"></div>
        </div>
    </div>
</div>