<div class="projects-board_wrapper" id="projects-board">
    <div class="projects-board_title-wrapper">
        <div class="projects-board_title">
            <div class="projects-board_circle-1"></div>
            <h2>My work</h2>
            <p> This page is a sample of my work - please feel free to try them out.</p>
        </div>
        <div class="projects-board_circle-2"></div>
    </div>
    <!-- First Project -->
    <div class="project_wrapper">
        <div class="project-img-holder-left"><img
                onclick="window.open('https://join-by-corneliu-zediu.com/','_blank')"
                src="./assets/video/join.gif"></div>
        <div class="project-info white-text">
            <h2>JOIN</h2>
            <h3>Javascript | HTML | CSS | Api</h3>
            <p>Task manager inspired by the Kanban System. Join can help any team to create, asign and organize tasks.
                By using the drag and drop or through direct selection, the user has the possibility to update the
                status
                of any task.</p>

            <div class="project-buttons white-text white-button">

                <button onclick="window.open('https://github.com/corneliuzediu/Join.git', '_blank')">Github</button>
                <button
                    onclick="window.open('https://join-by-corneliu-zediu.com/','_blank')">
                    Live test
                </button>
            </div>
        </div>
        <div class="projects-board_circle-3"></div>
    </div>
    <!-- Second Project -->
    <div class="project_wrapper project_wrapper-right">
        <div class="project-info project-info-left">
            <h2>Pokedex</h2>
            <h3>Javascript | HTML | CSS | Api</h3>
            <p>Based on the PokeAPI, the Pokedex is a simple library that provides and catalogues pokemon information.
            </p>
            <div class="project-buttons">
                <button onclick="window.open('https://github.com/corneliuzediu/Pokedex.git', '_blank')">Github</button>
                <button
                    onclick="window.open('https://corneliu-zediu.developerakademie.net/Pokedex/index.html','_blank')">
                    Live test
                </button>
            </div>
        </div>
        <div class="project-img-holder-right"><img
                onclick="window.open('https://corneliu-zediu.developerakademie.net/Pokedex/index.html','_blank')"
                src="./assets/video/pokedex.gif"></div>
        <div class="projects-board_circle-4"></div>
    </div>
    <!-- Third Project -->
    <div class="project_wrapper">
        <div class="project-img-holder-left">
            <div class="projects-board_circle-5"></div>
            <img onclick="window.open('https://el-pollo-loco-by-corneliu-zediu.com/','_blank')"
                src="./assets/video/ElPolloLocco.gif">
        </div>
        <div class="project-info">
            <h2>El Pollo Loco</h2>
            <h3>Javascript | HTML | CSS </h3>
            <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and the
                tabasco salsa bottles in order to fight the Chicken-Big-Boss.</p>
            <div class="project-buttons">
                <button
                    onclick="window.open('https://github.com/corneliuzediu/El-Pollo-Locco.git', '_blank')">Github</button>
                <button
                    onclick="window.open('https://el-pollo-loco-by-corneliu-zediu.com/','_blank')">
                    Live test
                </button>
            </div>
        </div>
        <div class="projects-board_circle-6"></div>
        <div class="projects-board_circle-6-2"></div>

    </div>
    <!-- Forth Project -->
    <div class="project_wrapper project_wrapper-right">
        <div class="project-info project-info-left">
            <h2>Ring of fire</h2>
            <h3>Angular | Typescript | HTML | CSS | Firebase</h3>
            <p>Inspired by the card game "Ring of fire", the application provides a great platform to play the game with
                friends located away from you. <br>Just insert the name, select your icon character and pull the card.
                <br>
                <b>Always serve alcohol with moderation!</b>
            </p>
            <div class="project-buttons">
                <button
                    onclick="window.open('https://github.com/corneliuzediu/Ring-of-Fire.git', '_blank')">Github</button>
                <button onclick="window.open('https://ring-of-fire-16293.web.app/','_blank')">
                    Live test
                </button>
            </div>
        </div>
        <div class="project-img-holder-right">
            <img onclick="window.open('https://ring-of-fire-16293.web.app/','_blank')"
                src="./assets/video/ringOfFire.gif">
            <div class="projects-board_circle-7"></div>
        </div>
    </div>
</div>