<div class="projects-board_wrapper">
    <div class="projects-board_title">
        <div>
            <div>Circle</div>
            <h2>My work</h2>
            <p> This page is a sample of my work - please feel free to try them out.</p>
        </div>
        <div>Circle</div>
    </div>
    <div class="project_wrapper">
        <div><img>IMG</div>
        <div>
            <h2>Title project 1</h2>
            <h3>Tools used</h3>
            <span>description project</span>
            <button></button>
        </div>
    </div>
    <div class="project_wrapper">
        <div>
            <h2>Title project 2</h2>
            <h3>Tools used</h3>
            <span>description project</span>
            <button></button>
        </div>
        <div><img>IMG</div>
    </div>
    <div class="project_wrapper">
        <div><img>IMG</div>
        <div>
            <h2>Title project 3</h2>
            <h3>Tools used</h3>
            <span>description project</span>
            <button></button>
        </div>
    </div>
    <div class="project_wrapper">
        <div>
            <h2>Title project 4</h2>
            <h3>Tools used</h3>
            <span>description project</span>
            <button></button>
        </div>
        <div><img>IMG</div>
    </div>
</div>