$base-color: #57E8A2;
$bg-gradient: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 51.56%, #33B476 100%);
$main-font-family : "Montserrat",
sans-serif;
$second-font-family : 'Baloo 2';
$width-title: auto;


.top-section__wrapper {
    position: relative;
    width: inherit;
    height: 100svh;
    min-height: 1000px;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #D7FFEC 91.39%)
}

.header {
    position: absolute;
    font-size: 23px;
    top: 0px;
    width: 100%;
    margin-right: 98.5px;
}

.top-section__main-img {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    width: 50%;

    img {
        min-width: 740px;
        width: 80%;
    }
}

.top-section__bg-circle {
    position: absolute;
    top: -80px;
    left: -199px;
    width: 892px;
    height: 892px;
    border-radius: 100%;
    background: $bg-gradient;
}



.top-section__title-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 232px;
    width: 100%;
    height: -webkit-fill-available;
}


.top-section__title {
    position: absolute;
    left: 55%;
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
        color: $base-color;
        font-size: 48px;
        margin: unset;
        font-weight: 200;

    }

    h2 {
        margin: unset;
        padding-top: 10px;
        color: $base-color;
        font-size: 98px;
        font-family: $second-font-family;
        line-height: 100%;
        font-weight: 700;
    }

    h3 {
        margin: unset;
        color: $base-color;
        font-size: 92px;
        font-family: $second-font-family;
        line-height: 100%;
        font-weight: 700;
    }
}

.top-section__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $width-title;
    transform: translateY(130px);
    flex-grow: 1;


    span {
        color: $base-color;
        font-size: 23px;
    }

    div {
        margin-top: 10px;
        border: 2px solid $base-color;
        height: auto;
        display: flex;
        overflow: hidden;
        min-height: calc(100% - 165px);
    }
}


.top-section_logo-platforms {
    position: absolute;
    bottom: 69px;
    right: 100px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    img {
        width: 30px;
        height: 30px;
    }

    a {
        transition: transform 150ms ease-in-out;

        &:hover {
            transform: translateX(-10px);
        }
    }
}


.intermediary-circle {
    position: absolute;
    z-index: 5;
    bottom: 0px;
    left: 50%;
    width: 206px;
    height: 206px;
    border-radius: 100%;
    background: $bg-gradient;
    transform: translate(-50%, 50%);
}





@media(min-width:1650px) {
    .top-section__main-img {
        img {
            padding-right: 20px;
        }
    }
}


@media(max-width:1500px) {
    .top-section__title {
        left: 60%;
    }


    .top-section__main-img {
        justify-content: unset;
        left: 0px;
    }

    .intermediary-circle {
        left: 740px;
    }
}


@media(max-width:1300px) {
    .top-section__title {
        padding-left: 20px;

        h1 {
            font-size: 38px;
        }

        h2 {
            font-size: 83px;
        }

        h3 {
            font-size: 78px;
        }
    }
}



@media(max-width:1200px) {
    .top-section__wrapper {
        min-height: 100svh;
    }

    .top-section__bg-circle {
        top: -10%;
        left: -27%;
    }


    .top-section__title {
        left: 55%;
    }


    .top-section__main-img {
        width: 70%;

        img {
            min-width: unset;
            width: 100%;
        }
    }

    .intermediary-circle {
        display: none;
    }
}

@media(max-width:1100px) {
    .top-section__bg-circle {
        top: -10%;
        left: -35%;
    }



    .top-section__title {
        padding-left: 20px;

        h1 {
            font-size: 35px;
        }

        h2 {
            font-size: 75px;
        }

        h3 {
            font-size: 70px;
        }
    }
}


@media(max-width:1000px) {
    .top-section__bg-circle {
        width: 120vw;
        height: 120vw;
    }


    .intermediary-circle {
        display: block;
        left: 50%;
    }


    .top-section__scroll,
    .top-section_logo-platforms {
        display: none;
    }

    .top-section__title-wrapper {
        z-index: 1;
        left: 0px;
        width: 100%;
        height: auto;
    }

    .top-section__title {
        left: 0%;
        top: -50px;
        padding-left: 100px;

        h1 {
            font-size: 48px;
            color: white;
        }

        h2 {
            font-size: 98px;
            color: white;
        }

        h3 {
            font-size: 92px;
            color: white;
        }
    }

    .top-section__main-img {
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: auto;

        img {
            width: 70%;
            max-width: 520px;
            z-index: 6;
        }
    }
}


@media(max-width:800px) {
    .top-section__title {
        left: 0%;
        top: -50px;
        padding-left: 100px;

        h1 {
            font-size: 35px;
        }

        h2 {
            font-size: 75px;
        }

        h3 {
            font-size: 70px;
        }
    }
}