<div class="top-section__wrapper">
    <div>
        <div class="top-section__bg-circle"></div>
        <div class="top-section__main-img"> IMG </div>
        <app-header class="header"></app-header>
    </div>
    <div class="top-section__title-wrapper">
        <div class="top-section__title">
            <h1>Hello! I am Corneliu</h1>
            <h2>FRONTEND </h2>
            <h3>DEVELOPER</h3>
            <div class="top-section__scroll">
                <span>SCROLL</span>
                <div></div>
            </div>
        </div>
        <div class="top-section_logo-platforms">
            <a href="https://github.com/corneliuzediu" target="_blank"><img
                    src="../../assets/icons/github_logo.png"></a>
            <a (click)="goToContact()"><img src="../../assets/icons/email_logo.png"></a>
            <a href="http://www.linkedin.com/in/corneliuzediu" target="_blank"><img
                    src="../../assets/icons/linkedin_logo.png"></a>
        </div>
    </div>
    <div class="intermediary-circle">

    </div>
</div>