<div class="impressum_wrapper">
    <app-header location="impressum"></app-header>
    <main>
        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Corneliu Zediu<br />
            Schwarenbergstra&szlig;e 160<br />
            70184 Stuttgart</p>

        <h2>Kontakt</h2>
        <p>Telefon: &#91;N/A&#93;<br />
            E-Mail: contact@corneliu-zediu.com</p>

        <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
        <div class="impressum_circle-1"></div>
        <div class="impressum_circle-2"></div>
        <div class="impressum_back-to-main">
            <button mat-icon-button (click)="goToMain()">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
    </main>
    <footer>
        <app-footer>
        </app-footer>
    </footer>
</div>