$base-color: #57E8A2;
$bg-gradient: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 51.56%, #33B476 100%);
$main-font-family : "Montserrat",
sans-serif;
$second-font-family : 'Baloo 2';

.skills-set_wrapper {
    padding-block: 150px;
    width: 100%;
    background: linear-gradient(128.95deg, #57E8A2 32.52%, #33B476 104.12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.skills-set_title {
    height: 80px;
    color: white;
    font-family: $second-font-family;
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 45px;
}


.skills-set_board {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 140px;
    row-gap: 50px;
    width: 1060px;
    color: white;
    font-size: 16px;
}


.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    transition: all 150ms ease-in-out;


    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        text-align: center;
        gap: 10px
    }

    &:hover {
        transform: scale(1.1);

        img {
            transition: transform 750ms ease-in-out;
            transform: rotate(360deg);
        }

        p {
            font-size: 18px;
        }
    }
}

@media(min-width:2500px) {
    .skills-set_wrapper {
        height: 800px;
    }

    .skills-set_title {
        font-size: 120px;
    }

    .skills-set_board {
        gap: 160px;
        row-gap: 70px;
        width: 1740px;
        font-size: 1.6rem;

        :hover {

            p {
                font-size: 1.6rem;
            }
        }
    }

    .skill {
        width: 220px;

        div {
            width: auto;
        }

    }
}

@media(max-width:1300px) {
    .skills-set_wrapper {
        height: auto;
        padding-block: 100px;

    }

    .skills-set_board {
        justify-content: center;
        width: unset;
        padding-inline: 100px;
    }
}


@media(max-width:800px) {
    .skills-set_title {
        font-size: 4rem
    }

    .skills-set_wrapper {
        width: unset;
        padding-inline: 50px;
        padding-bottom: 60px;
    }


    .skills-set_board {
        padding: unset;
        gap: 101px;
        row-gap: 30px;
    }
}


@media(max-width:500px) {
    .skills-set_title {
        font-size: 3rem;
        margin-bottom: 20px;
    }


    .skill {
        div {
            width: 60px;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }


    .skills-set_board {
        gap: 70px;
        row-gap: 20px;
    }
}


@media(max-width:450px) {
    .skills-set_wrapper {
        padding-block: 50px;
        padding-inline: 30px;
    }


    .skills-set_title {
        font-size: 3rem;
    }


    .skills-set_board {
        gap: 70px;
        row-gap: 30px;
    }

    .skill {
        height: 100px;

        div {
            width: 50px;
        }
    }
}


@media(max-width:350px) {
    .skills-set_title {
        margin-bottom: 0px;
        font-size: 2.5rem;
    }


    .skills-set_board {
        row-gap: 20px;
    }
}