<div class="skills-set_wrapper" id="skills-set">
    <h2 class="skills-set_title" translate> Skills set</h2>
    <div class="skills-set_board">
        <div class="skill">
            <div>
                <img src="./assets/icons/angular.png">
                <p>Angular</p>
            </div>
        </div>
        <div class="skill">
            <div>
                <img src="./assets/icons/typescript.png">
                <p>Typescript</p>
            </div>
        </div>
        <div class="skill">
            <div>
                <img src="./assets/icons/javascript.png">
                <p>JavaScript</p>
            </div>
        </div>
        <div class="skill">
            <div>
                <img src="./assets/icons/html.png">
                <p>HTML</p>
            </div>
        </div>
        <div class="skill">
            <div>
                <img src="./assets/icons/scrum.png">
                <p>Scrum</p>
            </div>
        </div>
        <div class="skill">
            <div>
                <img src="./assets/icons/firebase.png">
                <p>Firebase</p>
            </div>
        </div>
        <div class="skill">
            <div>
                <img src="./assets/icons/git.png">
                <p>GIT</p>
            </div>
        </div>
        <div class="skill">
            <div>
                <img src="./assets/icons/css.png">
                <p>CSS</p>
            </div>
        </div>
        <div class="skill">
            <div>
                <img src="./assets/icons/api.png">
                <p> Rest-Api</p>
            </div>
        </div>
        <div class="skill">
            <div>
                <img src="./assets/icons/material_design.png">
                <p>Material design</p>
            </div>
        </div>
    </div>
</div>