$base-color: #57E8A2;
$bg-gradient: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $base-color 51.56%, #33B476 100%);
$main-font-family : "Montserrat", sans-serif;
$second-font-family : 'Baloo 2';

.skills-set_wrapper {
    height: 632px;
    width: 100%;
    background: linear-gradient(128.95deg, #57E8A2 32.52%, #33B476 104.12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.skills-set_title {
    height: 80px;
    color: white;
    font-family: $second-font-family;
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 20px;
}


.skills-set_board {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 140px;
    row-gap: 50px;
    width: 1060px;
    color: white;
    font-size: 16px;
}


.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    transition: all 150ms ease-in-out;


    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        text-align: center;
        gap: 10px
    }

    &:hover {
        transform: scale(1.1);

        p {
            font-size: 18px;
            // margin: unset !important;
        }
    }
}


@media(max-width:1300px){
.skills-set_wrapper{
    height: auto;
    padding-block: 100px;
    
}

    .skills-set_board{
        justify-content: center;
        width: unset;
        padding-inline: 100px;
    }
}