$base-color: #57E8A2;


body,
html {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
}


button {
    cursor: pointer;
    outline: unset;
    font-family: inherit;
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: unset;
}

.mdc-text-field--valid {
    border: 2px solid $base-color !important;

}